<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Signup Page</title>
  <link rel="stylesheet" href="{% static 'css/sign_style.css' %}">
</head>
<body>
  <div class="signup-container">
    <form class="signup-form" method="POST" action="../insertuser/">
    {% csrf_token %}
      <h2 style="color:#e74c3c;">Create Account</h2>

      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" placeholder="Your full name" name="uname" required />

      <label for="email">Email Address</label>
      <input type="email" id="email" placeholder="example@email.com" name="uemail" required />

      <label for="mnumber">Mobile Number</label>
      <input type="number" id="mnumber" placeholder="Enter mobile number" name="unumber" required />

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter password" name="upassword" required />

      
      <input type="submit" style="background-color:#e74c3c;" name="reg" value="Sign Up">
      <p class="login-link">Already have an account? <a href="/login">Login here</a></p>
    </form>
  </div>
</body>
</html>
